<% if flash[:notice] %>
	<%= flash[:notice] %>
<% elsif @loggedIn %>
	Enter a new login to change users
<% else %>
	Please enter your login
<% end %>
<br />
<br />
<%= form_for @user, :url => {:action => :post_login} do |f| %>
	<table>
		<tr>
			<td>login: </td>
			<td><%= f.text_field(:login) %></td>
		</tr>
	</table>
	<%= submit_tag "Log-in" %>
<% end %>