/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.head {
	font-family: cursive;
	color: red;
	padding: 4px;
	margin-bottom: 14px;
}

a.hd1:visited {
	color: red;
	text-decoration: none;
}
a.hd1:link {
	color: red;
	text-decoration: none;
}

.hd2 {
	color: green;
	text-decoration: none;
	float: right;
}

.hd3 {
	float: right;
	margin-left: 5px;
}

a.hd4:visited {
	color: green;
}

a.hd4:link {
	color: green;
}

.foot {
	border-top: 1px solid blue; 
	margin-top: 30px;
	text-align: left;
	font-family: fantasy;
	color: blue;
}