// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#orc {
	//border: 1px solid black;
	//font-size: 2em;
	th {
		font-size: 1.5em;
		color: purple;
	}
	th.todo {
		border-bottom: 3px solid #FF6666; // red
	}
	th.completed {
		border-bottom: 3px solid #85E085; // green
	}
	th.visitor {
		border-bottom: 3px solid #F2ECC2; // cream
	}
	td {
		//color: blue;
	}
}

#degreeBox {
	width: 1000px;
	height: 650px;
	border: 3px solid black;
	margin-bottom: 3in;
}


.box {
	width: 100px;
	height: 250px;
	border: 1px solid black;
	margin-left: 50px;
	margin-top: 50px;
}

.opt {
	width: 80px;
	height: 30px;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 10px;
	display: none;
}


.req1{

	margin: 5px;
	width: 30%;
	padding-left: 5px;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	border-radius: 5px;


	vertical-align: middle;
	//display: inline; not sure

	.course_label {
		display: inline-block;
		padding: 5px 0px;
	}


	.add_drop {
		float: right;
		border-left: 1px solid black;
		padding: 5px 10px 5px 8px;
		display: inline-block;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		cursor: pointer;
	}




}

.req1.completed {
	background: #85E085; // green
	.add_drop:hover {
		background: #FF6666; // red
	}

}
.req1.todo {
	background: #FF6666; // red
	.add_drop:hover {
		background: #85E085; // green
	}
}

.req1.visitor {
	background: #F2ECC2; // cream
}
.req1.small {
	margin: 5px;
	cursor: pointer;

}

.req1.big {
	height: inherit;
	//padding: 100px 5px;
	//display: inline-block;
}


#content {
	padding: 10px;
}

.opt1 {
	display: inline-table;
	margin-left: 20px;
}

.second {
	cursor: pointer;

	table {
		width: 100%;
	}
	tr {
		width: 100%;
	}
	.thirty {
		width: 30%;
	}
	.big {
		height: 100%;
		width: 100%;
		display: inline-table;
		padding-top: 25%;
	}
}






